<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="component/adminCommons::head(评审首页)"></head>
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">评审管理</a>
        <a>
          <cite>评审列表</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" >
            <input type="hidden" name="pageNum">
            <input type="text" name="userName" th:value="${userName}" placeholder="请输入老师名" autocomplete="off" class="layui-input">
            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加活动','review/showAdd')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px" th:text="${info.total}">共有数据：88 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>评审序号</th>
            <th>评审项目</th>
            <th>评审情况</th>
            <th>评审成绩</th>
            <th>学员编号</th>
            <th>班级编号</th>
            <th>教师姓名</th>
            <th>评分状态</th>
            <th>操作</th>
        </thead>
        <tbody>
        <tr th:each="review,S:${info.list}">
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td th:text="${S.count}">1</td>
            <td th:text="${review.reviewProject}"></td>
            <td th:text="${review.reviewCase}"></td>
            <td th:text="${review.reviewGrade}"></td>
            <td th:text="${review.customerId}"></td>
            <td th:text="${review.teamId}"></td>
            <td th:text="${review.userName}"></td>
            <td class="td-status">
                <span class="layui-btn"
                      th:classappend="${review.reviewGrade!=null?'layui-btn-warm':' layui-btn'}"
                      th:text="${review.reviewGrade!=null?'已评分':'未评分'}">
                    已启用
                </span>
            </td>

            <td class="td-manage">
                <a title="查看成绩"  class="layui-btn layui-btn-radius layui-btn-normal" th:onclick="|x_admin_show('编辑','review/showUpdate/${review.reviewId}')|" href="javascript:;">
                   <span>查看成绩</span> <i class="layui-icon">&#xe642;</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div  class="page" th:include="component/adminCommons::page"></div>
</div>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    /*用户-停用*/
    function member_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){

            if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

            }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
            }

        });
    }

    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.ajax({
                url:"team/del/"+id,
                type:"post",
                dataType:"json",
                success:function (r) {
                    if(r==1){
                        $(obj).parents("tr").remove();
                        layer.msg('删除成功!',{icon:1,time:1000});
                    }else {
                        layer.msg('删除失败!',{icon:3});
                    }
                }
            })
        });
    }



    function delAll (argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>
</body>

</html>