<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seecen.customer.dao.ReviewMapper" >
  <resultMap id="BaseResultMap" type="com.seecen.customer.entity.Review" >
    <id column="REVIEW_ID" property="reviewId" jdbcType="DECIMAL" />
    <result column="REVIEW_PROJECT" property="reviewProject" jdbcType="VARCHAR" />
    <result column="REVIEW_CASE" property="reviewCase" jdbcType="VARCHAR" />
    <result column="REVIEW_GRADE" property="reviewGrade" jdbcType="VARCHAR" />
    <result column="CUSTOMER_ID" property="customerId" jdbcType="DECIMAL" />
    <result column="TEAM_ID" property="teamId" jdbcType="DECIMAL" />
    <result column="REVIEW_REMARK" property="reviewRemark" jdbcType="VARCHAR" />
    <result column="REVIEW_FLAG" property="reviewFlag" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    REVIEW_ID, REVIEW_PROJECT, REVIEW_CASE, REVIEW_GRADE, CUSTOMER_ID, TEAM_ID, REVIEW_REMARK, 
    REVIEW_FLAG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.seecen.customer.entity.ReviewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CON_REVIEW
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CON_REVIEW
    where REVIEW_ID = #{reviewId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CON_REVIEW
    where REVIEW_ID = #{reviewId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.seecen.customer.entity.ReviewExample" >
    delete from CON_REVIEW
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.seecen.customer.entity.Review" >
    insert into CON_REVIEW (REVIEW_ID, REVIEW_PROJECT, REVIEW_CASE, 
      REVIEW_GRADE, CUSTOMER_ID, TEAM_ID, 
      REVIEW_REMARK, REVIEW_FLAG)
    values (#{reviewId,jdbcType=DECIMAL}, #{reviewProject,jdbcType=VARCHAR}, #{reviewCase,jdbcType=VARCHAR}, 
      #{reviewGrade,jdbcType=VARCHAR}, #{customerId,jdbcType=DECIMAL}, #{teamId,jdbcType=DECIMAL}, 
      #{reviewRemark,jdbcType=VARCHAR}, #{reviewFlag,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.seecen.customer.entity.Review" >
    insert into CON_REVIEW
    <trim prefix="(" suffix=")" suffixOverrides="," >
        REVIEW_ID,
      <if test="reviewProject != null" >
        REVIEW_PROJECT,
      </if>
      <if test="reviewCase != null" >
        REVIEW_CASE,
      </if>
      <if test="reviewGrade != null" >
        REVIEW_GRADE,
      </if>
      <if test="customerId != null" >
        CUSTOMER_ID,
      </if>
      <if test="teamId != null" >
        TEAM_ID,
      </if>
      <if test="reviewRemark != null" >
        REVIEW_REMARK,
      </if>
      <if test="reviewFlag != null" >
        REVIEW_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        seq_con_review.nextval,
      <if test="reviewProject != null" >
        #{reviewProject,jdbcType=VARCHAR},
      </if>
      <if test="reviewCase != null" >
        #{reviewCase,jdbcType=VARCHAR},
      </if>
      <if test="reviewGrade != null" >
        #{reviewGrade,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=DECIMAL},
      </if>
      <if test="teamId != null" >
        #{teamId,jdbcType=DECIMAL},
      </if>
      <if test="reviewRemark != null" >
        #{reviewRemark,jdbcType=VARCHAR},
      </if>
      <if test="reviewFlag != null" >
        #{reviewFlag,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.seecen.customer.entity.ReviewExample" resultType="java.lang.Integer" >
    select count(*) from CON_REVIEW
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CON_REVIEW
    <set >
      <if test="record.reviewId != null" >
        REVIEW_ID = #{record.reviewId,jdbcType=DECIMAL},
      </if>
      <if test="record.reviewProject != null" >
        REVIEW_PROJECT = #{record.reviewProject,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewCase != null" >
        REVIEW_CASE = #{record.reviewCase,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewGrade != null" >
        REVIEW_GRADE = #{record.reviewGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.customerId != null" >
        CUSTOMER_ID = #{record.customerId,jdbcType=DECIMAL},
      </if>
      <if test="record.teamId != null" >
        TEAM_ID = #{record.teamId,jdbcType=DECIMAL},
      </if>
      <if test="record.reviewRemark != null" >
        REVIEW_REMARK = #{record.reviewRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewFlag != null" >
        REVIEW_FLAG = #{record.reviewFlag,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CON_REVIEW
    set REVIEW_ID = #{record.reviewId,jdbcType=DECIMAL},
      REVIEW_PROJECT = #{record.reviewProject,jdbcType=VARCHAR},
      REVIEW_CASE = #{record.reviewCase,jdbcType=VARCHAR},
      REVIEW_GRADE = #{record.reviewGrade,jdbcType=VARCHAR},
      CUSTOMER_ID = #{record.customerId,jdbcType=DECIMAL},
      TEAM_ID = #{record.teamId,jdbcType=DECIMAL},
      REVIEW_REMARK = #{record.reviewRemark,jdbcType=VARCHAR},
      REVIEW_FLAG = #{record.reviewFlag,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.seecen.customer.entity.Review" >
    update CON_REVIEW
    <set >
      <if test="reviewProject != null" >
        REVIEW_PROJECT = #{reviewProject,jdbcType=VARCHAR},
      </if>
      <if test="reviewCase != null" >
        REVIEW_CASE = #{reviewCase,jdbcType=VARCHAR},
      </if>
      <if test="reviewGrade != null" >
        REVIEW_GRADE = #{reviewGrade,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        CUSTOMER_ID = #{customerId,jdbcType=DECIMAL},
      </if>
      <if test="teamId != null" >
        TEAM_ID = #{teamId,jdbcType=DECIMAL},
      </if>
      <if test="reviewRemark != null" >
        REVIEW_REMARK = #{reviewRemark,jdbcType=VARCHAR},
      </if>
      <if test="reviewFlag != null" >
        REVIEW_FLAG = #{reviewFlag,jdbcType=DECIMAL},
      </if>
    </set>
    where REVIEW_ID = #{reviewId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seecen.customer.entity.Review" >
    update CON_REVIEW
    set REVIEW_PROJECT = #{reviewProject,jdbcType=VARCHAR},
      REVIEW_CASE = #{reviewCase,jdbcType=VARCHAR},
      REVIEW_GRADE = #{reviewGrade,jdbcType=VARCHAR},
      CUSTOMER_ID = #{customerId,jdbcType=DECIMAL},
      TEAM_ID = #{teamId,jdbcType=DECIMAL},
      REVIEW_REMARK = #{reviewRemark,jdbcType=VARCHAR},
      REVIEW_FLAG = #{reviewFlag,jdbcType=DECIMAL}
    where REVIEW_ID = #{reviewId,jdbcType=DECIMAL}
  </update>
</mapper>