<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seecen.customer.dao.RoleDaoMapper" >
  <resultMap id="BaseResultMap" type="com.seecen.customer.entity.Role" >
    <id column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="ROLE_DESCRIPTION" property="roleDescription" jdbcType="VARCHAR" />
    <result column="ROLE_PID" property="rolePid" jdbcType="DECIMAL" />
    <result column="ROLE_AVAILABLE" property="roleAvailable" jdbcType="DECIMAL" />
  </resultMap>
  <select id="findRolesById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * FROM CON_ROLE WHERE ROLE_ID = #{roleId}
  </select>
</mapper>