<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  
  <head th:include="component/studentCommons::head(学员信息)">
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">
            <input type="hidden" name="customerId" th:value="${customer.customerId}">
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>姓名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="username" name="customerName" required="" lay-verify="required"
                  autocomplete="off" class="layui-input" th:value="${customer.customerName}">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>
              </div>
          </div>
            <div class="layui-form-item">
                <label class="layui-form-label">班级</label>
                <div class="layui-input-inline">
                    <select name="teamId" lay-verify="required">
                        <option th:value="${customer.team.teamId}" th:text="${customer.team.teamName}"></option>
                        <option  th:each="list:${list}" th:value="${list.teamId}" th:text="${list.team.teamName}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>性别</label>
                <div class="layui-input-block" th:if="${customer.customerSex==1}">
                    <input type="radio" value="1" name="customerSex" lay-skin="primary" title="男" checked="">
                    <input type="radio" value="0" name="customerSex" lay-skin="primary" title="女">
                </div>
                <div class="layui-input-block" th:if="${customer.customerSex==0}">
                    <input type="radio" value="1"  name="customerSex" lay-skin="primary" title="男">
                    <input type="radio" value="0" name="customerSex" lay-skin="primary" title="女" checked="">
                </div>
            </div>
          <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="x-red">*</span>电话
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="phone" name="customerPhone"
                  autocomplete="off" class="layui-input" th:value="${customer.customerPhone}">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>
              </div>
          </div>
            <div class="layui-inline">
                <label class="layui-form-label">
                    <span class="x-red">*</span>加入日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="customerDate" id="date" lay-verify="date"  required=""
                           placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"th:value="${#dates.format(customer.customerDate,'yyyy-MM-dd')}">
                </div>
            </div>

          <div class="layui-form-item">
              <label class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  修改
              </button>
          </div>
      </form>
    </div>
    <script>
        layui.use('laydate', function(){
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#date' //指定元素
            });
        });


        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        
          //自定义验证规则
//          form.verify({
//            nikename: function(value){
//              if(value.length < 5){
//                return '昵称至少得5个字符啊';
//              }
//            }
//            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
//            ,repass: function(value){
//                if($('#L_pass').val()!=$('#L_repass').val()){
//                    return '两次密码不一致';
//                }
//            }
//          });

          //监听提交
          form.on('submit(add)', function(data){
            console.log(data);
            //发异步，把数据提交
              $.ajax({
                  url:"/backend/update.html",
                  type:"post",
                  data:data.field,
                  dataType:"json",
                  success:function (r) {
                      layer.alert("修改成功", {icon: 6},function () {
                          parent.location.reload();
                      });
                  }
              })

            return false;
          });
          
          
        });
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>